In [1]:
# First program

print("Hello, World!")

Hello, World!

### 1. Data Types

In [2]:
# Numeric Type
age = 25
height = 1.68
com = 3+2j

print(type(age))
print(isinstance(height, float))  
print(type(com))

<class 'int'>
True
<class 'complex'>

In [3]:
# Text type

language = "Python"

print(type(language))

<class 'str'>

In [4]:
# Boolen type

is_graduate = True
is_married = False

print(type(is_graduate))

<class 'bool'>

In [5]:
# None Type (Abscence of value)

cars = None
print(type(cars))

<class 'NoneType'>

In [8]:
# Sequence Type

numbers_list = [1,2,3,4,5,6]   # List
numbers_tuple = (5,4,3,2,1)    # Tuple
range(5)                       # Range

range(0, 5)

In [9]:
# Set Type   (Stores unique values)

s = {1,2,3,5,6,2,4,5,6,6}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [10]:
# Mapping Type

user_information = {"Name" : "Suhas", "Age" : 25,
                    "Height" : 1.68,
                    "is_graduate" : True}
print(type(user_information))

for key, value in user_information.items():
    print(f"{key} : {value}")

<class 'dict'>
Name : Suhas
Age : 25
Height : 1.68
is_graduate : True

### 2. Input & Output in python

In [13]:
# Input ----> input() -->By default string

user_name = input("Enter your name : ")

user_age = int(input("Enter your age : "))  # Type-casted

user_height = float(input("Enter your height : "))

print(f"Name :- {user_name}, age :- {user_age} years, height :- {user_height} meter")

Enter your name :  Suhas
Enter your age :  25
Enter your height :  1.68

Name :- Suhas, age :- 25 years, height :- 1.68 meter

In [14]:
# Output  ---> print()

name = "Suhas"
age = 25
height = 1.68

# Normal print
print("name : ", name)

# Format method
print("age : {}".format(age))

# f-string method
print(f"height :- {height}")

name :  Suhas
age : 25
height :- 1.68

### 3. Operators in Python

In [15]:
# 1.Arithmatic operator.. (+,-,*,/,//,%,**)

a = 10
b = 3
print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")
print(f"{a} // {b} = {a // b}")
print(f"{a} % {b} = {a % b}")
print(f"{a} ** {b} = {a ** b}")

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [16]:
# 2. Relational operators (==, !=, >, <, >=, <=) -->Result True/False

a = 25
b = 55

print(f"{a} == {b} = {a == b}")
print(f"{a} != {b} = {a != b}")
print(f"{a} > {b} = {a > b}")
print(f"{a} < {b} = {a < b}")
print(f"{a} >= {b} = {a >= b}")
print(f"{a} <= {b} = {a <= b}")

25 == 55 = False
25 != 55 = True
25 > 55 = False
25 < 55 = True
25 >= 55 = False
25 <= 55 = True

In [19]:
# 3. Assignment operators (=, +=, -=, *=, /=, etc.) Used to assign values

a = 25

print(a)
a+=5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)

25
30
25
125
25.0

In [21]:
# 4. Logical operator (Used to combine 2 or more conditions)

age = 25
is_graduate = True
is_married =False

# and     True --> When both conditions are true  
if age > 18 and is_graduate:
    print("Eligible for the job.")

# or        True ---> If any one condition is true
if age > 18 or is_graduate:
    print("Eligible to vote.")

# not          --- > Negate the current condition
if not is_married:
    print("Get married soon")

Eligible for the job.
Eligible to vote.
Get married soon

In [22]:
#  5. Bitwise operator (&, |, ^, ~, >>, <<)

a = 5
b = 6

print(f"{a} & {b} = {a & b}")
print(f"{a} | {b} = {a & b}")
print(f"{a} ^ {b} = {a & b}")
print(f"~{a} = {~a}")
print(f"{a} >> 2  = {a >> 2}")
print(f"{a} << 2  = {a << 2}")

5 & 6 = 4
5 | 6 = 4
5 ^ 6 = 4
~5 = -6
5 >> 2  = 1
5 << 2  = 20

In [23]:
# 6. Membership Operators (in , not in)

numbers = [1,2,3,4,5]

print(5 in numbers)

print(3 not in numbers)

True
False

In [25]:
# 7. Identity operators (Check for memory reference not values..)

a = [1,2,3]
b = [1,2,3]
c = a

print(a is b)   # Assigning new values make different object... 

print(a is c)   # Assigning variable makes reference sharing...

False
True

### 4. Conditional statements

In [2]:
# 1. if statement  --> We use this when we want to validate only one condition

user_age = int(input("Enter your age :- "))

if user_age > 18:
    print("You can vote.")

Enter your age :-  25

You can vote.

In [3]:
# 2. if-else statement ---> when we have 2 conditions either first or second.

user_age = int(input("Enter your age."))

if user_age > 18:
    print("You can vote.")
else:
    print("You can not vote.")

Enter your age. 17

You can not vote.

In [9]:
# 3. if-elif-else   ---> we use this when we have multiple condition to validate..

marks = int(input("Enter student's mark (0-100) : "))

if marks >= 85:
    print("Grade :- A")
elif marks >= 70:
    print("Grade :- B")
elif marks >= 55:
    print("Grade :- C")
elif marks >= 40:
    print("Grade :- D")
else:
    print("Grade :- Fail")

Enter student's mark (0-100) :  67

Grade :- C

### 5. Loops in Python..

In [13]:
# 1. for Loop  ---> Used when we know number of iterations...  (used over sequences)

# 1. Iterating over string

name = "Suhas"
for char in name:
    print(char)

print("--------------------------------------")

# 2. Iterating over list

numbers = [10,20,30,40,50,60]
for number in numbers:
    print(number)

print("--------------------------------------")

# 3. Iterating over tuple

values = (5,3,6,9,4)
for val in values:
    print(val)

print("--------------------------------------")

# 4. Iterating over range

for i in range(1,6):
    print(i)

S
u
h
a
s
--------------------------------------
10
20
30
40
50
60
--------------------------------------
5
3
6
9
4
--------------------------------------
1
2
3
4
5

In [14]:
# 2. While loop  ---> Used when we don't know about no. of iteration (Condition based..)

# Countdown code

count = int(input("Enter value from where you want to start countdown :- "))
while count > 0:
    print(count)
    count -= 1

Enter value from where you want to start countdown :-  5

5
4
3
2
1

In [15]:
# Loop control statements in Python

# 1) break  ---> it will break loop completely. No further operations..

for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [16]:
# 2. Continue  ---> It will skips current iteration and move to the next 

for i in range(1,10):
    if i == 3:
        continue
    print(i)                     ## It will not print 3

1
2
4
5
6
7
8
9

In [17]:
#  3. pass  ---> Do nothing, Acts as a placeholder for future use.. (It prevent loop breaking)

for i in range(10):
    pass

### 6. Functions in Python..

In [18]:
# Function is a block of code written to do specific task..

# 1. Defining function

def greet():
    print("Welcome..")

In [19]:
# 2. Calling a function

greet()

Welcome..

In [20]:
# 3. Passing arguments to the function..

def addition(a, b):
    print(f"{a} + {b} = {a+b}")

addition(15,27)

15 + 27 = 42

In [22]:
# 4. Return statement

def multiplication(a, b):
    return a * b

result = multiplication(15,7)
print(result)

105

In [23]:
# 5. Variable arguments...

def sum_of_numbers(*numbers):
    return sum(numbers)

print(sum_of_numbers(1,2,3,4,5,6,7,8,9,10))

55

In [31]:
## 6. Variable Key-word Arguments

def info(**candidate_info):
    for key, value in candidate_info.items():
        print(f"{key} --> {value}")

info(Name = "Suhas", Age = 25, Height = 1.68)

Name --> Suhas
Age --> 25
Height --> 1.68

### 7. Data structures in Python...

#### 1. String in Python

In [ ]:
# Creating a string

name = "Suhas"             # Sequence of charactors enclosed in quotes..
language = ""              # Empty string

In [34]:
# String slicing

language = "Python Programming."

print(language[:6])

print(language[7:])

print(language[::-1])

Python
Programming.
.gnimmargorP nohtyP

In [36]:
# String concatination

s1 = "Python "
s2 = "Programming"

print(s1 + s2)

Python Programming

In [38]:
# String repetation

greet = "Hello "
print(greet * 3)

Hello Hello Hello

# Methods

1) Case methods :- upper(), lower(), title(), capitalize(), swapcase()
2) Type check method :- isalpha(), isdigit(), isalnum()
3) find(), count()
4) strip(), lstrip(), rstrip()
5) split(deliminator) , ().join(iterator)

#### 2. Lists in Python

In [44]:
l1 = []
l2 = [1,2,3,4,5,6]

In [45]:
# List slicing
print(l2[1:4])

[2, 3, 4]

In [46]:
print(l2*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [47]:
# Adding elements

l1.append(10)
l1.append(20)
print(l1)

l1.insert(1,30)
print(l1)

l1.extend([50,60])
print(l1)

[10, 20]
[10, 30, 20]
[10, 30, 20, 50, 60]

In [48]:
# Removing elements

l1.remove(50)
print(l1)

l1.pop()
print(l1)

l1.clear()
print(l1)

[10, 30, 20, 60]
[10, 30, 20]
[]

In [49]:
l2.reverse()
print(l2)

[6, 5, 4, 3, 2, 1]

In [52]:
reversed(l2)
l2

[6, 5, 4, 3, 2, 1]

#### 3. Tuple in Python..

In [54]:
t1 = ()
t2 = (1,)
t3 = (1,2,3,4,5)

print(len(t3))

5

In [55]:
print(t3.count(3))

1

In [58]:
t3.index(4)

3

In [59]:
print(max(t3))

5

In [60]:
print(min(t3))

1

In [61]:
print(sum(t3))

15

#### 4. Set in Python...

In [72]:
s1 = set()

s2 = {1,2,3,4,5,6}

In [73]:
s2.add(25)

s2.update([50,60])

print(s2)

{1, 2, 3, 4, 5, 6, 25, 50, 60}

In [74]:
s2.pop()

1

In [75]:
s2.pop()

2

In [76]:
print(s2)

{3, 4, 5, 6, 25, 50, 60}

In [78]:
## Set operations..

s1 = {1,2,3,4,5}

s2 = {3,4,5,6,7}

print(s1 & s2)

print(s1 | s2)

print(s1-s2)

print(s1.symmetric_difference(s2))

{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2, 6, 7}

#### 5. Dictonary in Python

In [79]:
info = {"name" : "Suhas", "Age" : 25, "Height" : 1.68, "is_graduate" : True}

print(info)

{'name': 'Suhas', 'Age': 25, 'Height': 1.68, 'is_graduate': True}

In [84]:
# Getting value...

print(info.get("name"))

Suhas

In [85]:
print(info["Height"])

1.68

In [86]:
# Adding new pair
info["is_married"] = False

In [87]:
print(info)

{'name': 'Suhas', 'Age': 25, 'Height': 1.68, 'is_graduate': True, 'is_married': False}

In [88]:
info.keys()

dict_keys(['name', 'Age', 'Height', 'is_graduate', 'is_married'])

In [89]:
info.values()

dict_values(['Suhas', 25, 1.68, True, False])

In [90]:
# Iterating over dictonary

for key, value in info.items():
    print(f"{key} ---> {value}")

name ---> Suhas
Age ---> 25
Height ---> 1.68
is_graduate ---> True
is_married ---> False